In [108]:
import pandas as pd
import time

# Record the start time
start_time = time.time()

try:
     # Read the CSV file
    df = pd.read_csv('Train.csv')

    # Record the end time
    end_time = time.time()
    # Calculate the loading time
    pandas_loading_time = end_time - start_time
    print(f"Pandas Loading Time: {pandas_loading_time:.4f} seconds")
    
except FileNotFoundError:
    print("Error: 'Train.csv' not found. Please ensure the file exists in the current directory.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

C:\Users\aasha\AppData\Local\Temp\ipykernel_31592\1445514901.py:9: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Train.csv')

Pandas Loading Time: 78.7267 seconds

In [110]:
pd.set_option('display.max_columns', None)
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [112]:
    # Display few details about the DataFrame
    #print(df.head())
    print("\nDataFrame Info:")
    print(f"Number of Rows: {df.shape[0]}")
    print(f"Number of Columns: {df.shape[1]}")
    print(f"Column Names: {df.columns.tolist()}")
    print("\nDataFrame Description:")
    print(df.describe())
    print("\nDataFrame Index:")
    print(df.index)
    print("\nDataFrame Data Types:")
    print(df.dtypes)
    print("\nDataFrame Missing Values:")
    print(df.isnull().sum())
    print("\nDataFrame Duplicates:")
    print(df.duplicated().sum())
    print("\nDataFrame Memory Usage:")
    print(df.memory_usage(deep=True))
    print("\nDataFrame Sample:")
    print(df.sample(5))

    #Identify the range of date values in the first column (fecha_dato)
    # Ensure the 'fecha_dato' column is in datetime format
    df['fecha_dato'] = pd.to_datetime(df['fecha_dato'], errors='coerce')

    # Check for invalid or missing dates
    if df['fecha_dato'].isnull().any():
        print("\nWarning: Some rows have invalid or missing dates in 'fecha_dato'.")

    # Find the range of date values
    min_date = df['fecha_dato'].min()
    max_date = df['fecha_dato'].max()

    print(f"\nDate Range in 'fecha_dato':")
    print(f"Start Date: {min_date}")
    print(f"End Date: {max_date}")

DataFrame Info:
Number of Rows: 13647309
Number of Columns: 48
Column Names: ['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo', 'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel', 'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext', 'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov', 'nomprov', 'ind_actividad_cliente', 'renta', 'segmento', 'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1', 'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1', 'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1', 'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1', 'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1', 'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1', 'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1', 'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1']

DataFrame Description:
           ncodpers     ind_nuevo        indrel     tipodom      cod_prov  \
count  1.364731e+07  1.361958e+07  1.361958e+07  13619574.0  1.355372e+07
mean   8.349042e+05  5.956184e-02  1.178399e+00         1.0  2.657147e+01
std    4.315650e+05  2.366733e-01  4.177469e+00         0.0  1.278402e+01
min    1.588900e+04  0.000000e+00  1.000000e+00         1.0  1.000000e+00
25%    4.528130e+05  0.000000e+00  1.000000e+00         1.0  1.500000e+01
50%    9.318930e+05  0.000000e+00  1.000000e+00         1.0  2.800000e+01
75%    1.199286e+06  0.000000e+00  1.000000e+00         1.0  3.500000e+01
max    1.553689e+06  1.000000e+00  9.900000e+01         1.0  5.200000e+01

       ind_actividad_cliente         renta  ind_ahor_fin_ult1  \
count           1.361958e+07  1.085293e+07       1.364731e+07
mean            4.578105e-01  1.342543e+05       1.022912e-04
std             4.982169e-01  2.306202e+05       1.011340e-02
min             0.000000e+00  1.202730e+03       0.000000e+00
25%             0.000000e+00  6.871098e+04       0.000000e+00
50%             0.000000e+00  1.018500e+05       0.000000e+00
75%             1.000000e+00  1.559560e+05       0.000000e+00
max             1.000000e+00  2.889440e+07       1.000000e+00

       ind_aval_fin_ult1  ind_cco_fin_ult1  ind_cder_fin_ult1  \
count       1.364731e+07      1.364731e+07       1.364731e+07
mean        2.315475e-05      6.554837e-01       3.939238e-04
std         4.811883e-03      4.752103e-01       1.984361e-02
min         0.000000e+00      0.000000e+00       0.000000e+00
25%         0.000000e+00      0.000000e+00       0.000000e+00
50%         0.000000e+00      1.000000e+00       0.000000e+00
75%         0.000000e+00      1.000000e+00       0.000000e+00
max         1.000000e+00      1.000000e+00       1.000000e+00

       ind_cno_fin_ult1  ind_ctju_fin_ult1  ind_ctma_fin_ult1  \
count      1.364731e+07       1.364731e+07       1.364731e+07
mean       8.086722e-02       9.474175e-03       9.726606e-03
std        2.726311e-01       9.687320e-02       9.814275e-02
min        0.000000e+00       0.000000e+00       0.000000e+00
25%        0.000000e+00       0.000000e+00       0.000000e+00
50%        0.000000e+00       0.000000e+00       0.000000e+00
75%        0.000000e+00       0.000000e+00       0.000000e+00
max        1.000000e+00       1.000000e+00       1.000000e+00

       ind_ctop_fin_ult1  ind_ctpp_fin_ult1  ind_deco_fin_ult1  \
count       1.364731e+07       1.364731e+07       1.364731e+07
mean        1.290083e-01       4.330583e-02       1.778739e-03
std         3.352091e-01       2.035447e-01       4.213757e-02
min         0.000000e+00       0.000000e+00       0.000000e+00
25%         0.000000e+00       0.000000e+00       0.000000e+00
50%         0.000000e+00       0.000000e+00       0.000000e+00
75%         0.000000e+00       0.000000e+00       0.000000e+00
max         1.000000e+00       1.000000e+00       1.000000e+00

       ind_deme_fin_ult1  ind_dela_fin_ult1  ind_ecue_fin_ult1  \
count       1.364731e+07       1.364731e+07       1.364731e+07
mean        1.660987e-03       4.296679e-02       8.274357e-02
std         4.072135e-02       2.027823e-01       2.754942e-01
min         0.000000e+00       0.000000e+00       0.000000e+00
25%         0.000000e+00       0.000000e+00       0.000000e+00
50%         0.000000e+00       0.000000e+00       0.000000e+00
75%         0.000000e+00       0.000000e+00       0.000000e+00
max         1.000000e+00       1.000000e+00       1.000000e+00

       ind_fond_fin_ult1  ind_hip_fin_ult1  ind_plan_fin_ult1  \
count       1.364731e+07      1.364731e+07       1.364731e+07
mean        1.848599e-02      5.886582e-03       9.170965e-03
std         1.347006e-01      7.649791e-02       9.532502e-02
min         0.000000e+00      0.000000e+00       0.000000e+00
25%         0.000000e+00      0.000000e+00       0.000000e+00
50%         0.000000e+00      0.000000e+00       0.000000e+00
75%         0.000000e+00      0.000000e+00       0.000000e+00
max         1.000000e+00      1.000000e+00       1.000000e+00

       ind_pres_fin_ult1  ind_reca_fin_ult1  ind_tjcr_fin_ult1  \
count       1.364731e+07       1.364731e+07       1.364731e+07
mean        2.627404e-03       5.253636e-02       4.438868e-02
std         5.119083e-02       2.231060e-01       2.059571e-01
min         0.000000e+00       0.000000e+00       0.000000e+00
25%         0.000000e+00       0.000000e+00       0.000000e+00
50%         0.000000e+00       0.000000e+00       0.000000e+00
75%         0.000000e+00       0.000000e+00       0.000000e+00
max         1.000000e+00       1.000000e+00       1.000000e+00

       ind_valo_fin_ult1  ind_viv_fin_ult1  ind_nomina_ult1  \
count       1.364731e+07      1.364731e+07     1.363125e+07
mean        2.560761e-02      3.847718e-03     5.472434e-02
std         1.579616e-01      6.191053e-02     2.274414e-01
min         0.000000e+00      0.000000e+00     0.000000e+00
25%         0.000000e+00      0.000000e+00     0.000000e+00
50%         0.000000e+00      0.000000e+00     0.000000e+00
75%         0.000000e+00      0.000000e+00     0.000000e+00
max         1.000000e+00      1.000000e+00     1.000000e+00

       ind_nom_pens_ult1  ind_recibo_ult1
count       1.363125e+07     1.364731e+07
mean        5.942854e-02     1.279162e-01
std         2.364250e-01     3.339965e-01
min         0.000000e+00     0.000000e+00
25%         0.000000e+00     0.000000e+00
50%         0.000000e+00     0.000000e+00
75%         0.000000e+00     0.000000e+00
max         1.000000e+00     1.000000e+00

DataFrame Index:
RangeIndex(start=0, stop=13647309, step=1)

DataFrame Data Types:
fecha_dato                object
ncodpers                   int64
ind_empleado              object
pais_residencia           object
sexo                      object
age                       object
fecha_alta                object
ind_nuevo                float64
antiguedad                object
indrel                   float64
ult_fec_cli_1t            object
indrel_1mes               object
tiprel_1mes               object
indresi                   object
indext                    object
conyuemp                  object
canal_entrada             object
indfall                   object
tipodom                  float64
cod_prov                 float64
nomprov                   object
ind_actividad_cliente    float64
renta                    float64
segmento                  object
ind_ahor_fin_ult1          int64
ind_aval_fin_ult1          int64
ind_cco_fin_ult1           int64
ind_cder_fin_ult1          int64
ind_cno_fin_ult1           int64
ind_ctju_fin_ult1          int64
ind_ctma_fin_ult1          int64
ind_ctop_fin_ult1          int64
ind_ctpp_fin_ult1          int64
ind_deco_fin_ult1          int64
ind_deme_fin_ult1          int64
ind_dela_fin_ult1          int64
ind_ecue_fin_ult1          int64
ind_fond_fin_ult1          int64
ind_hip_fin_ult1           int64
ind_plan_fin_ult1          int64
ind_pres_fin_ult1          int64
ind_reca_fin_ult1          int64
ind_tjcr_fin_ult1          int64
ind_valo_fin_ult1          int64
ind_viv_fin_ult1           int64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1            int64
dtype: object

DataFrame Missing Values:
fecha_dato                      0
ncodpers                        0
ind_empleado                27734
pais_residencia             27734
sexo                        27804
age                             0
fecha_alta                  27734
ind_nuevo                   27734
antiguedad                      0
indrel                      27734
ult_fec_cli_1t           13622516
indrel_1mes                149781
tiprel_1mes                149781
indresi                     27734
indext                      27734
conyuemp                 13645501
canal_entrada              186126
indfall                     27734
tipodom                     27735
cod_prov                    93591
nomprov                     93591
ind_actividad_cliente       27734
renta                     2794375
segmento                   189368
ind_ahor_fin_ult1               0
ind_aval_fin_ult1               0
ind_cco_fin_ult1                0
ind_cder_fin_ult1               0
ind_cno_fin_ult1                0
ind_ctju_fin_ult1               0
ind_ctma_fin_ult1               0
ind_ctop_fin_ult1               0
ind_ctpp_fin_ult1               0
ind_deco_fin_ult1               0
ind_deme_fin_ult1               0
ind_dela_fin_ult1               0
ind_ecue_fin_ult1               0
ind_fond_fin_ult1               0
ind_hip_fin_ult1                0
ind_plan_fin_ult1               0
ind_pres_fin_ult1               0
ind_reca_fin_ult1               0
ind_tjcr_fin_ult1               0
ind_valo_fin_ult1               0
ind_viv_fin_ult1                0
ind_nomina_ult1             16063
ind_nom_pens_ult1           16063
ind_recibo_ult1                 0
dtype: int64

DataFrame Duplicates:
0

DataFrame Memory Usage:
Index                          132
fecha_dato               805191231
ncodpers                 109178472
ind_empleado             681866238
pais_residencia          695485813
sexo                     681864978
age                      551858388
fecha_alta               804442413
ind_nuevo                109178472
antiguedad               566997204
indrel                   109178472
ult_fec_cli_1t           437383299
indrel_1mes              556679384
tiprel_1mes              679669392
indresi                  681866238
indext                   681866238
conyuemp                 436746432
canal_entrada            705937548
indfall                  681866238
tipodom                  109178472
cod_prov                 109178472
nomprov                  773106632
ind_actividad_cliente    109178472
renta                    109178472
segmento                 894160183
ind_ahor_fin_ult1        109178472
ind_aval_fin_ult1        109178472
ind_cco_fin_ult1         109178472
ind_cder_fin_ult1        109178472
ind_cno_fin_ult1         109178472
ind_ctju_fin_ult1        109178472
ind_ctma_fin_ult1        109178472
ind_ctop_fin_ult1        109178472
ind_ctpp_fin_ult1        109178472
ind_deco_fin_ult1        109178472
ind_deme_fin_ult1        109178472
ind_dela_fin_ult1        109178472
ind_ecue_fin_ult1        109178472
ind_fond_fin_ult1        109178472
ind_hip_fin_ult1         109178472
ind_plan_fin_ult1        109178472
ind_pres_fin_ult1        109178472
ind_reca_fin_ult1        109178472
ind_tjcr_fin_ult1        109178472
ind_valo_fin_ult1        109178472
ind_viv_fin_ult1         109178472
ind_nomina_ult1          109178472
ind_nom_pens_ult1        109178472
ind_recibo_ult1          109178472
dtype: int64

DataFrame Sample:
          fecha_dato  ncodpers ind_empleado pais_residencia sexo  age  \
689939    2015-02-28    506460            N              ES    V   41
10181716  2016-02-28   1443314            N              ES    H   22
11765328  2016-03-28   1043987            N              ES    H   23
10757503  2016-02-28    717412            N              ES    V   39
4296564   2015-07-28   1177054            N              ES    V   51

          fecha_alta  ind_nuevo antiguedad  indrel ult_fec_cli_1t indrel_1mes  \
689939    2004-12-13        0.0        108     1.0            NaN         1.0
10181716  2015-09-07        1.0          5     1.0            NaN           1
11765328  2012-08-06        0.0         43     1.0            NaN         1.0
10757503  2007-09-08        0.0        101     1.0            NaN         1.0
4296564   2013-09-16        0.0         22     1.0            NaN         1.0

         tiprel_1mes indresi indext conyuemp canal_entrada indfall  tipodom  \
689939             A       S      N      NaN           KAT       N      1.0
10181716           A       S      N      NaN           KHQ       N      1.0
11765328           A       S      N      NaN           KHD       N      1.0
10757503           I       S      N      NaN           KAT       N      1.0
4296564            I       S      N      NaN           KFA       N      1.0

          cod_prov   nomprov  ind_actividad_cliente      renta  \
689939        28.0    MADRID                    1.0   98852.31
10181716       3.0  ALICANTE                    0.0   46086.69
11765328      34.0  PALENCIA                    1.0   53725.59
10757503      46.0  VALENCIA                    0.0   43274.49
4296564       28.0    MADRID                    0.0  104522.88

                    segmento  ind_ahor_fin_ult1  ind_aval_fin_ult1  \
689939     02 - PARTICULARES                  0                  0
10181716  03 - UNIVERSITARIO                  0                  0
11765328  03 - UNIVERSITARIO                  0                  0
10757503   02 - PARTICULARES                  0                  0
4296564    02 - PARTICULARES                  0                  0

          ind_cco_fin_ult1  ind_cder_fin_ult1  ind_cno_fin_ult1  \
689939                   0                  0                 1
10181716                 0                  0                 0
11765328                 1                  0                 0
10757503                 1                  0                 0
4296564                  1                  0                 0

          ind_ctju_fin_ult1  ind_ctma_fin_ult1  ind_ctop_fin_ult1  \
689939                    0                  0                  0
10181716                  0                  0                  0
11765328                  0                  0                  0
10757503                  0                  0                  0
4296564                   0                  0                  0

          ind_ctpp_fin_ult1  ind_deco_fin_ult1  ind_deme_fin_ult1  \
689939                    0                  0                  0
10181716                  0                  0                  0
11765328                  0                  0                  0
10757503                  0                  0                  0
4296564                   0                  0                  0

          ind_dela_fin_ult1  ind_ecue_fin_ult1  ind_fond_fin_ult1  \
689939                    0                  1                  0
10181716                  0                  0                  0
11765328                  0                  0                  0
10757503                  0                  0                  0
4296564                   0                  0                  0

          ind_hip_fin_ult1  ind_plan_fin_ult1  ind_pres_fin_ult1  \
689939                   1                  0                  0
10181716                 0                  0                  0
11765328                 0                  0                  0
10757503                 0                  0                  0
4296564                  0                  0                  0

          ind_reca_fin_ult1  ind_tjcr_fin_ult1  ind_valo_fin_ult1  \
689939                    0                  1                  0
10181716                  0                  0                  0
11765328                  0                  0                  0
10757503                  0                  0                  0
4296564                   0                  0                  0

          ind_viv_fin_ult1  ind_nomina_ult1  ind_nom_pens_ult1  \
689939                   0              1.0                1.0
10181716                 0              0.0                0.0
11765328                 0              0.0                0.0
10757503                 0              0.0                0.0
4296564                  0              0.0                0.0

          ind_recibo_ult1
689939                  1
10181716                0
11765328                0
10757503                0
4296564                 0

Date Range in 'fecha_dato':
Start Date: 2015-01-28 00:00:00
End Date: 2016-05-28 00:00:00

In [20]:
#------------------------------------------------ Data Cleaning --------------------------------------------------

# Get the overall missing values count and percentage
missing_count = df.isnull().sum()
missing_percentage = (df.isnull().sum() / len(df)) * 100

# Display columns with missing values
missing_data = pd.concat([missing_count, missing_percentage], axis=1, keys = ['Count', 'Percentage'])
print(missing_data[missing_data['Count'] > 0].sort_values('Count', ascending=False))

                          Count  Percentage
conyuemp               13645501   99.986752
ult_fec_cli_1t         13622516   99.818330
renta                   2794375   20.475648
segmento                 189368    1.387585
canal_entrada            186126    1.363829
indrel_1mes              149781    1.097513
tiprel_1mes              149781    1.097513
nomprov                   93591    0.685784
cod_prov                  93591    0.685784
sexo                      27804    0.203732
tipodom                   27735    0.203227
indfall                   27734    0.203220
ind_actividad_cliente     27734    0.203220
ind_empleado              27734    0.203220
pais_residencia           27734    0.203220
indext                    27734    0.203220
indresi                   27734    0.203220
indrel                    27734    0.203220
ind_nuevo                 27734    0.203220
fecha_alta                27734    0.203220
ind_nomina_ult1           16063    0.117701
ind_nom_pens_ult1         16063    0.117701

In [116]:
df_bkp = df

print (df_bkp.shape)

(13647309, 48)

In [118]:
#analyse duplicates in ncodpers
duplicate_count = df['ncodpers'].duplicated().sum()
print(f"Number of duplicate customers in dataset: {duplicate_count}")

#See duplicates
if duplicate_count > 0:
    # Find the values that appear more than once
    duplicate_values = df['ncodpers'][df['ncodpers'].duplicated(keep='first')]
    
    # Show the distribution of duplicates
    print("\nTop 10 duplicate values and their counts:")
    value_counts = df['ncodpers'].value_counts()
    duplicated_counts = value_counts[value_counts > 1]
    print(duplicated_counts.head(10))
    
    # Show the percentage of rows that are duplicates
    total_rows = len(df)
    duplicate_rows = duplicate_count
    print(f"\nPercentage of duplicate values: {(duplicate_rows/total_rows)*100:.2f}%")

Number of duplicate customers in dataset: 12690664

Top 10 duplicate values and their counts:
ncodpers
1375586    17
42515      17
42636      17
42684      17
42685      17
42686      17
42690      17
42695      17
42697      17
42704      17
Name: count, dtype: int64

Percentage of duplicate values: 92.99%

In [120]:
#check values in all columns for ncodpers = 42515
filtered_rows = df[df['ncodpers'] == 42515]

# Display the number of matching rows
print(f"Number of rows with ncodpers = 42515: {len(filtered_rows)}")

# Display all matching rows
print("\nRows with ncodpers = 42515:")
print(filtered_rows)

Number of rows with ncodpers = 42515: 17

Rows with ncodpers = 42515:
         fecha_dato  ncodpers ind_empleado pais_residencia sexo  age  \
413545   2015-01-28     42515            N              ES    H   86
839198   2015-02-28     42515            N              ES    H   86
1460844  2015-03-28     42515            N              ES    H   86
2095140  2015-04-28     42515            N              ES    H   86
2930728  2015-05-28     42515            N              ES    H   86
3562882  2015-06-28     42515            N              ES    H   86
4084400  2015-07-28     42515            N              ES    H   86
5306859  2015-08-28     42515            N              ES    H   86
5693377  2015-09-28     42515            N              ES    H   86
6904636  2015-10-28     42515            N              ES    H   86
7484218  2015-11-28     42515            N              ES    H   86
8629578  2015-12-28     42515            N              ES    H   86
9406861  2016-01-28     42515            N              ES    H   86
10416899 2016-02-28     42515            N              ES    H   86
11173907 2016-03-28     42515            N              ES    H   87
12064067 2016-04-28     42515            N              ES    H   87
13029280 2016-05-28     42515            N              ES    H   87

          fecha_alta  ind_nuevo antiguedad  indrel ult_fec_cli_1t indrel_1mes  \
413545    2005-11-29        0.0        116     1.0            NaN         1.0
839198    2005-11-29        0.0        116     1.0            NaN         1.0
1460844   2005-11-29        0.0        116     1.0            NaN         1.0
2095140   2005-11-29        0.0        116     1.0            NaN         1.0
2930728   2005-11-29        0.0        116     1.0            NaN         1.0
3562882   2005-11-29        0.0        116     1.0            NaN         1.0
4084400   2005-11-29        0.0        116     1.0            NaN         1.0
5306859   2005-11-29        0.0        117     1.0            NaN         1.0
5693377   2005-11-29        0.0        118     1.0            NaN           1
6904636   2005-11-29        0.0        119     1.0            NaN           1
7484218   2005-11-29        0.0        120     1.0            NaN         1.0
8629578   2005-11-29        0.0        121     1.0            NaN           1
9406861   2005-11-29        0.0        122     1.0            NaN         1.0
10416899  2005-11-29        0.0        123     1.0            NaN         1.0
11173907  2005-11-29        0.0        124     1.0            NaN         1.0
12064067  2005-11-29        0.0        125     1.0            NaN           1
13029280  2005-11-29        0.0        126     1.0            NaN         1.0

         tiprel_1mes indresi indext conyuemp canal_entrada indfall  tipodom  \
413545             A       S      N      NaN           KAT       N      1.0
839198             A       S      N      NaN           KAT       N      1.0
1460844            A       S      N      NaN           KAT       N      1.0
2095140            A       S      N      NaN           KAT       N      1.0
2930728            A       S      N      NaN           KAT       N      1.0
3562882            A       S      N      NaN           KAT       N      1.0
4084400            A       S      N      NaN           KAT       N      1.0
5306859            A       S      N      NaN           KAT       N      1.0
5693377            A       S      N      NaN           KAT       N      1.0
6904636            A       S      N      NaN           KAT       N      1.0
7484218            A       S      N      NaN           KAT       N      1.0
8629578            A       S      N      NaN           KAT       N      1.0
9406861            A       S      N      NaN           KAT       N      1.0
10416899           A       S      N      NaN           KAT       N      1.0
11173907           A       S      N      NaN           KAT       N      1.0
12064067           A       S      N      NaN           KAT       N      1.0
13029280           A       S      N      NaN           KAT       N      1.0

          cod_prov nomprov  ind_actividad_cliente      renta  segmento  \
413545        28.0  MADRID                    1.0  188488.98  01 - TOP
839198        28.0  MADRID                    1.0  188488.98  01 - TOP
1460844       28.0  MADRID                    1.0  188488.98  01 - TOP
2095140       28.0  MADRID                    1.0  188488.98  01 - TOP
2930728       28.0  MADRID                    1.0  188488.98  01 - TOP
3562882       28.0  MADRID                    1.0  188488.98  01 - TOP
4084400       28.0  MADRID                    1.0  188488.98  01 - TOP
5306859       28.0  MADRID                    1.0  188488.98  01 - TOP
5693377       28.0  MADRID                    1.0  188488.98  01 - TOP
6904636       28.0  MADRID                    1.0  188488.98  01 - TOP
7484218       28.0  MADRID                    1.0  188488.98  01 - TOP
8629578       28.0  MADRID                    1.0  188488.98  01 - TOP
9406861       28.0  MADRID                    1.0  188488.98  01 - TOP
10416899      28.0  MADRID                    1.0  188488.98  01 - TOP
11173907      28.0  MADRID                    1.0  188488.98  01 - TOP
12064067      28.0  MADRID                    1.0  188488.98  01 - TOP
13029280      28.0  MADRID                    1.0  188488.98  01 - TOP

          ind_ahor_fin_ult1  ind_aval_fin_ult1  ind_cco_fin_ult1  \
413545                    0                  0                 0
839198                    0                  0                 0
1460844                   0                  0                 0
2095140                   0                  0                 0
2930728                   0                  0                 0
3562882                   0                  0                 0
4084400                   0                  0                 0
5306859                   0                  0                 0
5693377                   0                  0                 0
6904636                   0                  0                 0
7484218                   0                  0                 0
8629578                   0                  0                 0
9406861                   0                  0                 0
10416899                  0                  0                 0
11173907                  0                  0                 0
12064067                  0                  0                 0
13029280                  0                  0                 0

          ind_cder_fin_ult1  ind_cno_fin_ult1  ind_ctju_fin_ult1  \
413545                    0                 0                  0
839198                    0                 1                  0
1460844                   0                 1                  0
2095140                   0                 1                  0
2930728                   0                 1                  0
3562882                   0                 1                  0
4084400                   0                 1                  0
5306859                   0                 1                  0
5693377                   0                 1                  0
6904636                   0                 1                  0
7484218                   0                 1                  0
8629578                   0                 1                  0
9406861                   0                 1                  0
10416899                  0                 1                  0
11173907                  0                 1                  0
12064067                  0                 1                  0
13029280                  0                 1                  0

          ind_ctma_fin_ult1  ind_ctop_fin_ult1  ind_ctpp_fin_ult1  \
413545                    0                  0                  0
839198                    0                  0                  0
1460844                   0                  0                  0
2095140                   0                  0                  0
2930728                   0                  0                  0
3562882                   0                  0                  0
4084400                   0                  0                  0
5306859                   0                  0                  0
5693377                   0                  0                  0
6904636                   0                  0                  0
7484218                   0                  0                  0
8629578                   0                  0                  0
9406861                   0                  0                  0
10416899                  0                  0                  0
11173907                  0                  0                  0
12064067                  0                  0                  0
13029280                  0                  0                  0

          ind_deco_fin_ult1  ind_deme_fin_ult1  ind_dela_fin_ult1  \
413545                    0                  0                  0
839198                    0                  0                  0
1460844                   0                  0                  0
2095140                   0                  0                  0
2930728                   0                  0                  0
3562882                   0                  0                  0
4084400                   0                  0                  0
5306859                   0                  0                  0
5693377                   0                  0                  0
6904636                   0                  0                  0
7484218                   0                  0                  0
8629578                   0                  0                  0
9406861                   0                  0                  0
10416899                  0                  0                  0
11173907                  0                  0                  0
12064067                  0                  0                  0
13029280                  0                  0                  0

          ind_ecue_fin_ult1  ind_fond_fin_ult1  ind_hip_fin_ult1  \
413545                    1                  0                 0
839198                    1                  0                 0
1460844                   1                  0                 0
2095140                   1                  0                 0
2930728                   1                  0                 0
3562882                   1                  0                 0
4084400                   1                  0                 0
5306859                   1                  0                 0
5693377                   1                  0                 0
6904636                   1                  0                 0
7484218                   1                  0                 0
8629578                   1                  0                 0
9406861                   1                  0                 0
10416899                  1                  0                 0
11173907                  1                  0                 0
12064067                  1                  0                 0
13029280                  1                  0                 0

          ind_plan_fin_ult1  ind_pres_fin_ult1  ind_reca_fin_ult1  \
413545                    0                  0                  0
839198                    0                  0                  0
1460844                   0                  0                  0
2095140                   0                  0                  0
2930728                   0                  0                  0
3562882                   0                  0                  0
4084400                   0                  0                  0
5306859                   0                  0                  0
5693377                   0                  0                  0
6904636                   0                  0                  0
7484218                   0                  0                  0
8629578                   0                  0                  0
9406861                   0                  0                  0
10416899                  0                  0                  0
11173907                  0                  0                  0
12064067                  0                  0                  0
13029280                  0                  0                  0

          ind_tjcr_fin_ult1  ind_valo_fin_ult1  ind_viv_fin_ult1  \
413545                    0                  0                 0
839198                    0                  0                 0
1460844                   0                  0                 0
2095140                   0                  0                 0
2930728                   0                  0                 0
3562882                   0                  0                 0
4084400                   0                  0                 0
5306859                   0                  0                 0
5693377                   0                  0                 0
6904636                   0                  0                 0
7484218                   0                  0                 0
8629578                   0                  0                 0
9406861                   0                  0                 0
10416899                  0                  0                 0
11173907                  0                  0                 0
12064067                  0                  0                 0
13029280                  0                  0                 0

          ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1
413545                0.0                1.0                1
839198                0.0                1.0                1
1460844               0.0                0.0                1
2095140               0.0                1.0                1
2930728               0.0                0.0                1
3562882               0.0                1.0                1
4084400               0.0                1.0                1
5306859               0.0                1.0                1
5693377               0.0                1.0                1
6904636               0.0                1.0                1
7484218               0.0                1.0                1
8629578               0.0                1.0                1
9406861               0.0                0.0                1
10416899              0.0                1.0                1
11173907              0.0                1.0                1
12064067              0.0                1.0                1
13029280              0.0                1.0                1

In [122]:
#check values in all columns for ncodpers = 426363
filtered_rows = df[df['ncodpers'] == 42636]

# Display the number of matching rows
print(f"Number of rows with ncodpers = 42636: {len(filtered_rows)}")

# Display all matching rows
print("\nRows with ncodpers = 42636:")
print(filtered_rows)

Number of rows with ncodpers = 42636: 17

Rows with ncodpers = 42636:
         fecha_dato  ncodpers ind_empleado pais_residencia sexo  age  \
413547   2015-01-28     42636            N              ES    V   44
839621   2015-02-28     42636            N              ES    V   44
1461014  2015-03-28     42636            N              ES    V   44
2095562  2015-04-28     42636            N              ES    V   44
2930749  2015-05-28     42636            N              ES    V   44
3562767  2015-06-28     42636            N              ES    V   44
4084087  2015-07-28     42636            N              ES    V   44
5307418  2015-08-28     42636            N              ES    V   44
5693361  2015-09-28     42636            N              ES    V   44
6904698  2015-10-28     42636            N              ES    V   44
7484156  2015-11-28     42636            N              ES    V   44
8630612  2015-12-28     42636            N              ES    V   44
9406573  2016-01-28     42636            N              ES    V   44
10416884 2016-02-28     42636            N              ES    V   44
11173845 2016-03-28     42636            N              ES    V   44
12064130 2016-04-28     42636            N              ES    V   44
13029246 2016-05-28     42636            N              ES    V   44

          fecha_alta  ind_nuevo antiguedad  indrel ult_fec_cli_1t indrel_1mes  \
413547    1996-07-05        0.0        228     1.0            NaN         1.0
839621    1996-07-05        0.0        228     1.0            NaN         1.0
1461014   1996-07-05        0.0        228     1.0            NaN         1.0
2095562   1996-07-05        0.0        228     1.0            NaN         1.0
2930749   1996-07-05        0.0        228     1.0            NaN         1.0
3562767   1996-07-05        0.0        228     1.0            NaN         1.0
4084087   1996-07-05        0.0        228     1.0            NaN         1.0
5307418   1996-07-05        0.0        230     1.0            NaN         1.0
5693361   1996-07-05        0.0        230     1.0            NaN           1
6904698   1996-07-05        0.0        231     1.0            NaN           1
7484156   1996-07-05        0.0        232     1.0            NaN         1.0
8630612   1996-07-05        0.0        234     1.0            NaN           1
9406573   1996-07-05        0.0        234     1.0            NaN         1.0
10416884  1996-07-05        0.0        235     1.0            NaN         1.0
11173845  1996-07-05        0.0        237     1.0            NaN         1.0
12064130  1996-07-05        0.0        237     1.0            NaN           1
13029246  1996-07-05        0.0        239     1.0            NaN         1.0

         tiprel_1mes indresi indext conyuemp canal_entrada indfall  tipodom  \
413547             A       S      N      NaN           KAT       N      1.0
839621             A       S      N      NaN           KAT       N      1.0
1461014            A       S      N      NaN           KAT       N      1.0
2095562            A       S      N      NaN           KAT       N      1.0
2930749            A       S      N      NaN           KAT       N      1.0
3562767            A       S      N      NaN           KAT       N      1.0
4084087            A       S      N      NaN           KAT       N      1.0
5307418            A       S      N      NaN           KAT       N      1.0
5693361            A       S      N      NaN           KAT       N      1.0
6904698            A       S      N      NaN           KAT       N      1.0
7484156            A       S      N      NaN           KAT       N      1.0
8630612            A       S      N      NaN           KAT       N      1.0
9406573            A       S      N      NaN           KAT       N      1.0
10416884           A       S      N      NaN           KAT       N      1.0
11173845           A       S      N      NaN           KAT       N      1.0
12064130           A       S      N      NaN           KAT       N      1.0
13029246           A       S      N      NaN           KAT       N      1.0

          cod_prov   nomprov  ind_actividad_cliente     renta  \
413547        46.0  VALENCIA                    1.0  47430.18
839621        46.0  VALENCIA                    1.0  47430.18
1461014       46.0  VALENCIA                    1.0  47430.18
2095562       46.0  VALENCIA                    1.0  47430.18
2930749       46.0  VALENCIA                    1.0  47430.18
3562767       46.0  VALENCIA                    1.0  47430.18
4084087       46.0  VALENCIA                    1.0  47430.18
5307418       46.0  VALENCIA                    1.0  47430.18
5693361       46.0  VALENCIA                    1.0  47430.18
6904698       46.0  VALENCIA                    1.0  47430.18
7484156       46.0  VALENCIA                    1.0  47430.18
8630612       46.0  VALENCIA                    1.0  47430.18
9406573       46.0  VALENCIA                    1.0  47430.18
10416884      46.0  VALENCIA                    1.0  47430.18
11173845      46.0  VALENCIA                    1.0  47430.18
12064130      46.0  VALENCIA                    1.0  47430.18
13029246      46.0  VALENCIA                    1.0  47430.18

                   segmento  ind_ahor_fin_ult1  ind_aval_fin_ult1  \
413547    02 - PARTICULARES                  0                  0
839621    02 - PARTICULARES                  0                  0
1461014   02 - PARTICULARES                  0                  0
2095562   02 - PARTICULARES                  0                  0
2930749   02 - PARTICULARES                  0                  0
3562767   02 - PARTICULARES                  0                  0
4084087   02 - PARTICULARES                  0                  0
5307418   02 - PARTICULARES                  0                  0
5693361   02 - PARTICULARES                  0                  0
6904698   02 - PARTICULARES                  0                  0
7484156   02 - PARTICULARES                  0                  0
8630612   02 - PARTICULARES                  0                  0
9406573   02 - PARTICULARES                  0                  0
10416884  02 - PARTICULARES                  0                  0
11173845  02 - PARTICULARES                  0                  0
12064130  02 - PARTICULARES                  0                  0
13029246  02 - PARTICULARES                  0                  0

          ind_cco_fin_ult1  ind_cder_fin_ult1  ind_cno_fin_ult1  \
413547                   1                  0                 0
839621                   1                  0                 0
1461014                  1                  0                 0
2095562                  1                  0                 0
2930749                  1                  0                 0
3562767                  1                  0                 0
4084087                  1                  0                 0
5307418                  1                  0                 0
5693361                  1                  0                 0
6904698                  1                  0                 0
7484156                  1                  0                 0
8630612                  1                  0                 0
9406573                  1                  0                 0
10416884                 1                  0                 0
11173845                 1                  0                 0
12064130                 1                  0                 0
13029246                 1                  0                 0

          ind_ctju_fin_ult1  ind_ctma_fin_ult1  ind_ctop_fin_ult1  \
413547                    0                  0                  0
839621                    0                  0                  0
1461014                   0                  0                  0
2095562                   0                  0                  0
2930749                   0                  0                  0
3562767                   0                  0                  0
4084087                   0                  0                  0
5307418                   0                  0                  0
5693361                   0                  0                  0
6904698                   0                  0                  0
7484156                   0                  0                  0
8630612                   0                  0                  0
9406573                   0                  0                  0
10416884                  0                  0                  0
11173845                  0                  0                  0
12064130                  0                  0                  0
13029246                  0                  0                  0

          ind_ctpp_fin_ult1  ind_deco_fin_ult1  ind_deme_fin_ult1  \
413547                    0                  0                  0
839621                    0                  0                  0
1461014                   0                  0                  0
2095562                   0                  0                  0
2930749                   0                  0                  0
3562767                   0                  0                  0
4084087                   0                  0                  0
5307418                   0                  0                  0
5693361                   0                  0                  0
6904698                   0                  0                  0
7484156                   0                  0                  0
8630612                   0                  0                  0
9406573                   0                  0                  0
10416884                  0                  0                  0
11173845                  0                  0                  0
12064130                  0                  0                  0
13029246                  0                  0                  0

          ind_dela_fin_ult1  ind_ecue_fin_ult1  ind_fond_fin_ult1  \
413547                    0                  0                  0
839621                    0                  0                  0
1461014                   0                  0                  0
2095562                   0                  0                  0
2930749                   0                  0                  0
3562767                   0                  0                  0
4084087                   0                  0                  0
5307418                   0                  0                  0
5693361                   0                  0                  0
6904698                   0                  0                  0
7484156                   0                  0                  0
8630612                   0                  0                  0
9406573                   0                  0                  0
10416884                  0                  0                  0
11173845                  0                  0                  0
12064130                  0                  0                  0
13029246                  0                  0                  0

          ind_hip_fin_ult1  ind_plan_fin_ult1  ind_pres_fin_ult1  \
413547                   0                  0                  0
839621                   0                  0                  0
1461014                  0                  0                  0
2095562                  0                  0                  0
2930749                  0                  0                  0
3562767                  0                  0                  0
4084087                  0                  0                  0
5307418                  0                  0                  0
5693361                  0                  0                  0
6904698                  0                  0                  0
7484156                  0                  0                  0
8630612                  0                  0                  0
9406573                  0                  0                  0
10416884                 0                  0                  0
11173845                 0                  0                  0
12064130                 0                  0                  0
13029246                 0                  0                  0

          ind_reca_fin_ult1  ind_tjcr_fin_ult1  ind_valo_fin_ult1  \
413547                    0                  0                  0
839621                    0                  0                  0
1461014                   0                  0                  0
2095562                   0                  0                  0
2930749                   0                  0                  0
3562767                   0                  0                  0
4084087                   0                  0                  0
5307418                   0                  0                  0
5693361                   0                  0                  0
6904698                   0                  0                  0
7484156                   0                  0                  0
8630612                   0                  0                  0
9406573                   0                  0                  0
10416884                  0                  0                  0
11173845                  0                  0                  0
12064130                  0                  0                  0
13029246                  0                  0                  0

          ind_viv_fin_ult1  ind_nomina_ult1  ind_nom_pens_ult1  \
413547                   0              0.0                0.0
839621                   0              0.0                0.0
1461014                  0              0.0                0.0
2095562                  0              0.0                0.0
2930749                  0              0.0                0.0
3562767                  0              0.0                0.0
4084087                  0              0.0                0.0
5307418                  0              0.0                0.0
5693361                  0              0.0                0.0
6904698                  0              0.0                0.0
7484156                  0              0.0                0.0
8630612                  0              0.0                0.0
9406573                  0              0.0                0.0
10416884                 0              0.0                0.0
11173845                 0              0.0                0.0
12064130                 0              0.0                0.0
13029246                 0              0.0                0.0

          ind_recibo_ult1
413547                  0
839621                  0
1461014                 0
2095562                 0
2930749                 0
3562767                 0
4084087                 0
5307418                 0
5693361                 0
6904698                 0
7484156                 0
8630612                 0
9406573                 0
10416884                0
11173845                0
12064130                0
13029246                0

Since all the rows have the same data. We are keeping only the last available row for analysis.

In [124]:
# Count unique values in 'ncodpers' column
original_row_count = len(df)
unique_ncodpers_count = df['ncodpers'].nunique()
print(f"Number of unique ncodpers values: {unique_ncodpers_count}")
print(f"Number of duplicate rows: {original_row_count - unique_ncodpers_count}")

# Remove duplicates, keeping the last occurrence
df_deduplicated = df.drop_duplicates(subset=['ncodpers'], keep='last')

# Check the new row count
new_row_count = len(df_deduplicated)
print(f"Number of rows after deduplication: {new_row_count}")
print(f"Removed {original_row_count - new_row_count} duplicate rows")

# Verify that there are no more duplicates
remaining_duplicates = df_deduplicated['ncodpers'].duplicated().sum()
print(f"Remaining duplicates: {remaining_duplicates}")

# Sort the DataFrame by ncodpers to easily see the result
df_deduplicated = df_deduplicated.sort_values('ncodpers')

Number of unique ncodpers values: 956645
Number of duplicate rows: 12690664
Number of rows after deduplication: 956645
Removed 12690664 duplicate rows
Remaining duplicates: 0

In [126]:
print(f"Dataframe shape: {df_deduplicated.shape}")

Dataframe shape: (956645, 48)

In [128]:
# Try to analyse values in the conyuemp column (Spouse index) 
column_name = 'conyuemp'

# Get and print the unique values in the conyuemp column
unique_values = df_deduplicated[column_name].unique()

print("Unique values in 'conyuemp' column:")
print(unique_values)

# Calculate percentage of NaN values
nan_percentage = df_deduplicated[column_name].isna().mean() * 100

print(f"Percentage of NaN values in '{column_name}' column: {nan_percentage:.2f}%")

Unique values in 'conyuemp' column:
['N' 'S' nan]
Percentage of NaN values in 'conyuemp' column: 99.99%

Since most of the conyuemp column is 'nan', we are removing the column from the dataframe.

In [130]:
df_modified1 = df_deduplicated.drop(column_name, axis=1)
print(f"Dataframe shape: {df_modified1.shape}")

Dataframe shape: (956645, 47)

In [132]:
# Try to analyse values in the ult_fec_cli_1t column
column_name = 'ult_fec_cli_1t'

# Print the unique values in the ult_fec_cli_1t column
unique_values = df_modified1[column_name].unique()

print("Unique values in 'ult_fec_cli_1t' column:")
print(unique_values)

Unique values in 'ult_fec_cli_1t' column:
[nan '2015-08-05' '2016-03-17' '2015-12-04' '2016-03-29' '2015-07-15'
 '2016-04-12' '2015-12-17' '2015-10-27' '2016-04-19' '2016-05-24'
 '2015-07-03' '2016-02-23' '2016-05-30' '2015-10-05' '2015-07-27'
 '2016-02-24' '2015-12-03' '2015-11-16' '2015-12-01' '2016-05-17'
 '2015-09-29' '2016-01-26' '2016-01-05' '2016-05-20' '2015-11-12'
 '2016-03-02' '2016-04-01' '2016-03-16' '2015-07-22' '2015-12-09'
 '2015-10-13' '2016-03-18' '2015-11-11' '2015-11-10' '2015-08-20'
 '2015-08-03' '2015-08-19' '2015-10-06' '2016-05-02' '2015-10-02'
 '2016-02-11' '2015-07-20' '2016-05-27' '2015-07-21' '2016-03-04'
 '2016-04-22' '2015-12-11' '2015-09-08' '2015-12-15' '2016-04-15'
 '2015-07-28' '2016-02-08' '2016-05-26' '2015-12-02' '2015-09-10'
 '2015-11-27' '2015-10-21' '2015-08-24' '2015-12-28' '2015-11-02'
 '2016-01-19' '2016-01-18' '2016-03-15' '2015-07-17' '2016-01-22'
 '2015-09-01' '2015-08-18' '2015-10-22' '2015-07-07' '2016-03-28'
 '2015-09-21' '2016-01-13' '2016-02-16' '2015-09-23' '2015-11-23'
 '2015-12-10' '2015-12-24' '2015-11-24' '2016-05-09' '2016-02-01'
 '2016-04-06' '2015-10-28' '2016-05-18' '2016-01-28' '2015-08-13'
 '2016-04-05' '2016-02-15' '2015-09-15' '2015-10-01' '2015-10-20'
 '2016-02-09' '2016-03-23' '2015-07-06' '2016-03-14' '2016-04-07'
 '2016-01-11' '2016-02-12' '2015-07-14' '2015-09-11' '2015-09-03'
 '2016-01-21' '2016-02-04' '2015-12-16' '2015-11-19' '2015-08-06'
 '2015-12-21' '2015-08-27' '2015-11-18' '2016-04-26' '2016-05-12'
 '2015-07-01' '2016-01-15' '2015-08-14' '2015-09-14' '2016-03-07'
 '2016-01-12' '2016-04-08' '2015-12-30' '2015-11-17' '2016-01-08'
 '2015-08-25' '2015-09-28' '2015-09-24' '2016-01-07' '2015-11-13'
 '2016-03-11' '2015-09-25' '2015-08-28' '2015-11-25' '2016-01-25'
 '2016-05-06' '2015-08-04' '2015-08-10' '2015-09-22' '2015-10-26'
 '2016-04-21' '2016-01-04' '2016-03-08' '2015-12-14' '2015-09-18'
 '2016-05-25' '2016-03-10' '2016-03-01' '2016-02-10' '2016-05-05'
 '2015-08-17' '2015-10-15' '2015-11-04' '2015-10-07' '2015-09-02'
 '2016-04-20' '2015-08-21' '2016-05-23' '2015-11-03' '2016-05-04'
 '2015-07-30' '2015-07-09' '2015-10-19' '2016-05-10' '2016-04-14'
 '2015-08-26' '2015-09-04' '2016-02-02' '2015-12-22' '2016-02-26'
 '2015-10-09' '2015-09-17' '2016-01-27' '2016-03-22' '2015-10-08'
 '2015-12-18' '2016-02-03' '2016-03-30' '2016-04-28' '2016-04-13'
 '2016-01-20' '2015-11-05' '2015-12-29' '2016-04-18' '2016-02-22'
 '2015-07-29' '2015-07-02' '2015-11-20' '2016-04-27' '2015-12-07'
 '2015-11-06' '2016-05-03' '2015-07-13' '2016-02-17' '2015-10-14'
 '2015-08-11' '2015-10-29' '2016-04-04' '2016-02-18' '2015-07-10'
 '2015-07-16' '2015-07-23' '2015-10-23' '2016-05-19' '2016-05-11'
 '2015-12-23' '2015-11-26' '2015-11-09' '2016-04-11' '2016-03-09'
 '2015-08-12' '2015-07-08' '2015-09-07' '2016-03-21' '2015-09-09'
 '2016-01-14' '2015-09-16' '2016-03-24' '2015-10-16' '2016-02-19'
 '2016-04-25' '2016-02-25' '2016-02-05' '2016-05-16' '2016-03-03'
 '2016-05-13' '2015-08-07' '2015-07-24']

In [134]:
# Calculate percentage of NaN values
nan_percentage = df_modified1[column_name].isna().mean() * 100
print(f"Percentage of NaN values in '{column_name}' column: {nan_percentage:.2f}%")

Percentage of NaN values in 'ult_fec_cli_1t' column: 97.98%

In [136]:
nan_rows = df_modified1[df_modified1[column_name].isna()]

# Select first 10 rows and the 'indrel' column
result = nan_rows[['indrel']].head(10)
  
print("\nValues in 'indrel' column for first 10 rows where 'ult_fec_cli_1t' is NaN:")
print(result)
 
# Display more context by showing additional columns
print("\nMore context (including 'indrel' and other columns):")
context_columns = ['indrel', 'ncodpers']  # Add other relevant columns as needed
print(nan_rows[context_columns].head(10))

Values in 'indrel' column for first 10 rows where 'ult_fec_cli_1t' is NaN:
          indrel
13026343     1.0
13026342     1.0
13026341     1.0
13026340     1.0
13026339     1.0
13026338     1.0
13026337     1.0
13026336     1.0
13026335     1.0
13026334     1.0

More context (including 'indrel' and other columns):
          indrel  ncodpers
13026343     1.0     15889
13026342     1.0     15890
13026341     1.0     15892
13026340     1.0     15893
13026339     1.0     15894
13026338     1.0     15895
13026337     1.0     15896
13026336     1.0     15897
13026335     1.0     15898
13026334     1.0     15899

In [138]:
print("Original data type:", df_modified1['ult_fec_cli_1t'].dtype)

# Convert the 'ult_fec_cli_1t' to a datetime format
df_modified2 = df_modified1
df_modified2['ult_fec_cli_1t'] = pd.to_datetime(df_modified1['ult_fec_cli_1t'], format = '%Y-%m-%d')

# Check the new data type
print("New data type:", df_modified2['ult_fec_cli_1t'].dtype)

# Display a sample of the converted column
print(df_modified2['ult_fec_cli_1t'].unique())

Original data type: object
New data type: datetime64[ns]
<DatetimeArray>
[                'NaT', '2015-08-05 00:00:00', '2016-03-17 00:00:00',
 '2015-12-04 00:00:00', '2016-03-29 00:00:00', '2015-07-15 00:00:00',
 '2016-04-12 00:00:00', '2015-12-17 00:00:00', '2015-10-27 00:00:00',
 '2016-04-19 00:00:00',
 ...
 '2015-10-16 00:00:00', '2016-02-19 00:00:00', '2016-04-25 00:00:00',
 '2016-02-25 00:00:00', '2016-02-05 00:00:00', '2016-05-16 00:00:00',
 '2016-03-03 00:00:00', '2016-05-13 00:00:00', '2015-08-07 00:00:00',
 '2015-07-24 00:00:00']
Length: 224, dtype: datetime64[ns]

Apply the max date to the nan values in 'ult_fec_cli_1t' where 'indrel' is 1. 'indrel' = 1 means they are primary customers

In [140]:
# First, let's check how many rows have indrel = 1
indrel_1_count = (df_modified2['indrel'] == 1).sum()
print(f"Number of rows with indrel = 1: {indrel_1_count}")

# Check how many of these rows have NaN in ult_fec_cli_1t
nan_count_before = df_modified2[(df_modified2['indrel'] == 1) & (df_modified2['ult_fec_cli_1t'].isna())].shape[0]
print(f"Number of rows with indrel = 1 AND ult_fec_cli_1t = NaN: {nan_count_before}")

# Create the date value to fill
fill_date = pd.to_datetime('2016-05-28')

# Fill ult_fec_cli_1t with 2016-05-28 where indrel = 1
# Using loc for conditional assignment
df_modified2.loc[df_modified2['indrel'] == 1, 'ult_fec_cli_1t'] = fill_date

# Verify the changes
nan_count_after = df_modified2[(df_modified2['indrel'] == 1) & (df_modified2['ult_fec_cli_1t'].isna())].shape[0]
print(f"Number of rows with indrel = 1 AND ult_fec_cli_1t = NaN after filling with a date: {nan_count_after}")

# Check how many rows were updated
updated_rows = nan_count_before - nan_count_after
print(f"Number of rows updated: {updated_rows}")

Number of rows with indrel = 1: 930285
Number of rows with indrel = 1 AND ult_fec_cli_1t = NaN: 930285
Number of rows with indrel = 1 AND ult_fec_cli_1t = NaN after filling with a date: 0
Number of rows updated: 930285

In [142]:
selected_columns = df_modified2[['ncodpers', 'indrel', 'ult_fec_cli_1t']]

print(selected_columns.head())

          ncodpers  indrel ult_fec_cli_1t
13026343     15889     1.0     2016-05-28
13026342     15890     1.0     2016-05-28
5319232      15891    99.0     2015-08-05
13026341     15892     1.0     2016-05-28
13026340     15893     1.0     2016-05-28

In [144]:
nan_percentage = df_modified2['ult_fec_cli_1t'].isna().mean() * 100
print(f"Percentage of NaN values in '{column_name}' column: {nan_percentage:.2f}%")

Percentage of NaN values in 'ult_fec_cli_1t' column: 0.73%

In [148]:
#Analysing the next highest nan column - 'rento' - income of the customer
# - Computing the MOD value for nan cells
df_modified3 = df_modified2
df_modified3['renta'] = df_modified2['renta'].fillna(df_modified2['renta'].mode()[0])

nan_percentage = df_modified3['renta'].isna().mean() * 100
print(f"Percentage of NaN values in 'renta' column after filling: {nan_percentage:.2f}%")

Percentage of NaN values in 'renta' column after filling: 0.00%

In [152]:
print(df.shape)
print(df_modified1.shape)
print(df_modified2.shape)
print(df_modified3.shape)

(13647309, 48)
(956645, 47)
(956645, 47)
(956645, 47)

In [157]:
#Analysing the next highest nan column - 'segmento'
# - dropping values that do not contribute to the analysis
df_modified4 = df_modified3
df_modified4.dropna(subset=['segmento'], how='all', inplace=True)

nan_percentage = df_modified4['segmento'].isna().mean() * 100
print(f"Percentage of NaN values in 'segmento' column after clearing nan: {nan_percentage:.2f}%")

Percentage of NaN values in 'segmento' column after clearing nan: 0.00%

In [159]:
print(df_modified4.head)

<bound method NDFrame.head of          fecha_dato  ncodpers ind_empleado pais_residencia sexo age  \
13026343 2016-05-28     15889            F              ES    V  56
13026342 2016-05-28     15890            A              ES    V  63
5319232  2015-08-28     15891            N              ES    H  59
13026341 2016-05-28     15892            F              ES    H  62
13026340 2016-05-28     15893            N              ES    V  63
...             ...       ...          ...             ...  ...  ..
13339886 2016-05-28   1548213            N              ES    H  23
13339885 2016-05-28   1548214            N              ES    H  36
13339966 2016-05-28   1548215            N              ES    V  52
13339967 2016-05-28   1548216            N              ES    V  40
13339968 2016-05-28   1548217            N              ES    H  44

          fecha_alta  ind_nuevo antiguedad  indrel ult_fec_cli_1t indrel_1mes  \
13026343  1995-01-16        0.0        255     1.0     2016-05-28         1.0
13026342  1995-01-16        0.0        256     1.0     2016-05-28         1.0
5319232   2015-07-28        0.0        246    99.0     2015-08-05         1.0
13026341  1995-01-16        0.0        256     1.0     2016-05-28         1.0
13026340  1997-10-03        0.0        256     1.0     2016-05-28         1.0
...              ...        ...        ...     ...            ...         ...
13339886  2016-04-29        1.0          1     1.0     2016-05-28           1
13339885  2016-04-29        1.0          1     1.0     2016-05-28           1
13339966  2016-04-29        1.0          1     1.0     2016-05-28           1
13339967  2016-04-29        1.0          1     1.0     2016-05-28           1
13339968  2016-04-29        1.0          1     1.0     2016-05-28           1

         tiprel_1mes indresi indext canal_entrada indfall  tipodom  cod_prov  \
13026343           A       S      N           KAT       N      1.0      28.0
13026342           A       S      N           KAT       N      1.0      28.0
5319232            A       S      N           KAT       N      1.0      28.0
13026341           A       S      N           KAT       N      1.0      28.0
13026340           A       S      N           KAT       N      1.0      28.0
...              ...     ...    ...           ...     ...      ...       ...
13339886           A       S      N           KHM       N      1.0       8.0
13339885           A       S      N           KHM       N      1.0       8.0
13339966           A       S      N           KHM       N      1.0      51.0
13339967           A       S      N           KHM       N      1.0       8.0
13339968           A       S      N           KHM       N      1.0      40.0

            nomprov  ind_actividad_cliente      renta           segmento  \
13026343     MADRID                    1.0  326124.90           01 - TOP
13026342     MADRID                    1.0   71461.20           01 - TOP
5319232      MADRID                    0.0  451931.22  02 - PARTICULARES
13026341     MADRID                    1.0  430477.41           01 - TOP
13026340     MADRID                    1.0  430477.41  02 - PARTICULARES
...             ...                    ...        ...                ...
13339886  BARCELONA                    0.0  451931.22  02 - PARTICULARES
13339885  BARCELONA                    0.0  451931.22  02 - PARTICULARES
13339966      CEUTA                    1.0  451931.22  02 - PARTICULARES
13339967  BARCELONA                    0.0  451931.22  02 - PARTICULARES
13339968    SEGOVIA                    1.0  451931.22  02 - PARTICULARES

          ind_ahor_fin_ult1  ind_aval_fin_ult1  ind_cco_fin_ult1  \
13026343                  0                  0                 1
13026342                  0                  0                 0
5319232                   0                  0                 0
13026341                  0                  0                 1
13026340                  0                  0                 0
...                     ...                ...               ...
13339886                  0                  0                 0
13339885                  0                  0                 0
13339966                  0                  0                 1
13339967                  0                  0                 0
13339968                  0                  0                 1

          ind_cder_fin_ult1  ind_cno_fin_ult1  ind_ctju_fin_ult1  \
13026343                  0                 0                  0
13026342                  0                 1                  0
5319232                   0                 0                  0
13026341                  0                 0                  0
13026340                  0                 0                  0
...                     ...               ...                ...
13339886                  0                 0                  0
13339885                  0                 0                  0
13339966                  0                 0                  0
13339967                  0                 0                  0
13339968                  0                 0                  0

          ind_ctma_fin_ult1  ind_ctop_fin_ult1  ind_ctpp_fin_ult1  \
13026343                  0                  0                  1
13026342                  0                  0                  1
5319232                   0                  0                  0
13026341                  0                  0                  0
13026340                  0                  0                  0
...                     ...                ...                ...
13339886                  0                  0                  0
13339885                  0                  0                  0
13339966                  0                  0                  0
13339967                  0                  0                  0
13339968                  0                  0                  0

          ind_deco_fin_ult1  ind_deme_fin_ult1  ind_dela_fin_ult1  \
13026343                  0                  0                  0
13026342                  0                  0                  0
5319232                   0                  0                  0
13026341                  0                  0                  1
13026340                  0                  0                  0
...                     ...                ...                ...
13339886                  0                  0                  0
13339885                  0                  0                  0
13339966                  0                  0                  0
13339967                  0                  0                  0
13339968                  0                  0                  0

          ind_ecue_fin_ult1  ind_fond_fin_ult1  ind_hip_fin_ult1  \
13026343                  0                  0                 0
13026342                  1                  0                 0
5319232                   0                  0                 0
13026341                  1                  0                 0
13026340                  0                  0                 0
...                     ...                ...               ...
13339886                  0                  0                 0
13339885                  0                  0                 0
13339966                  0                  0                 0
13339967                  0                  0                 0
13339968                  0                  0                 0

          ind_plan_fin_ult1  ind_pres_fin_ult1  ind_reca_fin_ult1  \
13026343                  0                  0                  0
13026342                  1                  0                  0
5319232                   0                  0                  0
13026341                  0                  0                  1
13026340                  0                  0                  0
...                     ...                ...                ...
13339886                  0                  0                  0
13339885                  0                  0                  0
13339966                  0                  0                  0
13339967                  0                  0                  0
13339968                  0                  0                  0

          ind_tjcr_fin_ult1  ind_valo_fin_ult1  ind_viv_fin_ult1  \
13026343                  1                  1                 0
13026342                  1                  0                 0
5319232                   0                  0                 0
13026341                  1                  1                 0
13026340                  0                  1                 0
...                     ...                ...               ...
13339886                  0                  0                 0
13339885                  0                  0                 0
13339966                  0                  0                 0
13339967                  0                  0                 0
13339968                  0                  0                 0

          ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1
13026343              0.0                0.0                0
13026342              1.0                1.0                1
5319232               0.0                0.0                0
13026341              0.0                0.0                1
13026340              0.0                0.0                0
...                   ...                ...              ...
13339886              0.0                0.0                0
13339885              0.0                0.0                0
13339966              1.0                1.0                0
13339967              0.0                0.0                0
13339968              0.0                0.0                0

[937929 rows x 47 columns]>

In [161]:
#Analysing the next highest nan column - 'canal_entrada'
# - dropping values since a minor percentage (~1%)
df_modified5 = df_modified4
df_modified5.dropna(subset=['canal_entrada'], how='all', inplace=True)

nan_percentage = df_modified4['canal_entrada'].isna().mean() * 100
print(f"Percentage of NaN values in 'canal_entrada' column after clearing nan: {nan_percentage:.2f}%")

print (df_modified5.shape)

Percentage of NaN values in 'canal_entrada' column after clearing nan: 0.00%
(937560, 47)

In [165]:
#Analysing the next nan column - 'indrel_1mes'
# - dropping values since a minor percentage (~1%)
df_modified5.dropna(subset=['indrel_1mes'], how='all', inplace=True)

nan_percentage = df_modified5['indrel_1mes'].isna().mean() * 100
print(f"Percentage of NaN values in 'indrel_1mes' column after clearing nan: {nan_percentage:.2f}%")

print (df_modified5.shape)

Percentage of NaN values in 'indrel_1mes' column after clearing nan: 0.00%
(937547, 47)

In [167]:
#Analysing the next nan column - 'tiprel_1mes'
# - dropping values since a minor percentage (~1%)
cname = 'tiprel_1mes'
df_modified5.dropna(subset=[cname], how='all', inplace=True)

nan_percentage = df_modified5[cname].isna().mean() * 100
print(f"Percentage of NaN values in {cname} column after clearing nan: {nan_percentage:.2f}%")

print (df_modified5.shape)

Percentage of NaN values in tiprel_1mes column after clearing nan: 0.00%
(937547, 47)

In [171]:
#Analysing the next nan column - 'cod_prov' -Provision
# - dropping values since a minor percentage (~.5%)
cname = 'cod_prov'

nan_percentage = df_modified5[cname].isna().mean() * 100
print(f"Percentage of NaN values in {cname} column before clearing nan: {nan_percentage:.2f}%")

df_modified5.dropna(subset=[cname], how='all', inplace=True)

nan_percentage = df_modified5[cname].isna().mean() * 100
print(f"Percentage of NaN values in {cname} column after clearing nan: {nan_percentage:.2f}%")

print (df_modified5.shape)

Percentage of NaN values in cod_prov column before clearing nan: 0.43%
Percentage of NaN values in cod_prov column after clearing nan: 0.00%
(933551, 47)

In [173]:
#Analysing the next nan column - 'nomprov' -Provision
cname = 'nomprov'

nan_percentage = df_modified5[cname].isna().mean() * 100
print(f"Percentage of NaN values in {cname} column before clearing nan: {nan_percentage:.2f}%")

Percentage of NaN values in nomprov column before clearing nan: 0.00%

In [175]:
#Analysing the next nan column - 'sexo'
cname = 'sexo'

nan_percentage = df_modified5[cname].isna().mean() * 100
print(f"Percentage of NaN values in {cname} column before clearing nan: {nan_percentage:.2f}%")

Percentage of NaN values in sexo column before clearing nan: 0.00%

In [177]:
#Analysing the next nan column - 'tipodom'
cname = 'tipodom'

nan_percentage = df_modified5[cname].isna().mean() * 100
print(f"Percentage of NaN values in {cname} column before clearing nan: {nan_percentage:.2f}%")

Percentage of NaN values in tipodom column before clearing nan: 0.00%

In [ ]:
Cleared almost nan values in train.csv dataset.

In [179]:
print(df_modified5.shape)

(933551, 47)

In [181]:
#Converting date columns to datetime format
df_modified6 = df_modified5
df_modified6['fecha_dato'] = pd.to_datetime(df_modified6.fecha_dato)
df_modified6['fecha_alta'] = pd.to_datetime(df_modified6.fecha_alta)

In [183]:
print(df_modified6['fecha_dato'])

13026343   2016-05-28
13026342   2016-05-28
5319232    2015-08-28
13026341   2016-05-28
13026340   2016-05-28
              ...
13339886   2016-05-28
13339885   2016-05-28
13339966   2016-05-28
13339967   2016-05-28
13339968   2016-05-28
Name: fecha_dato, Length: 933551, dtype: datetime64[ns]

In [185]:
# Other datatype changes required
df_modified6['age'] = pd.to_numeric(df_modified6['age'], errors='coerce')

print(df_modified6['age'])

13026343    56
13026342    63
5319232     59
13026341    62
13026340    63
            ..
13339886    23
13339885    36
13339966    52
13339967    40
13339968    44
Name: age, Length: 933551, dtype: int64

In [187]:

df_modified6['antiguedad'] = pd.to_numeric(df_modified6['antiguedad'], errors='coerce')

print(df_modified6['antiguedad'])

13026343    255
13026342    256
5319232     246
13026341    256
13026340    256
           ...
13339886      1
13339885      1
13339966      1
13339967      1
13339968      1
Name: antiguedad, Length: 933551, dtype: int64

In [189]:

df_modified6['indrel_1mes'] = pd.to_numeric(df_modified6['indrel_1mes'], errors='coerce')

print(df_modified6['indrel_1mes'])

13026343    1.0
13026342    1.0
5319232     1.0
13026341    1.0
13026340    1.0
           ...
13339886    1.0
13339885    1.0
13339966    1.0
13339967    1.0
13339968    1.0
Name: indrel_1mes, Length: 933551, dtype: float64

Converting 'indrel_1mes' from float to int type

In [191]:
df_modified7 = df_modified6
df_modified7['indrel_1mes'] = df_modified7['indrel_1mes'].astype(int)

In [193]:
print(df_modified7['indrel_1mes'])

13026343    1
13026342    1
5319232     1
13026341    1
13026340    1
           ..
13339886    1
13339885    1
13339966    1
13339967    1
13339968    1
Name: indrel_1mes, Length: 933551, dtype: int32

In [197]:
#Replacing gender H - Male and V - Female for easy understanding
df_modified8 = df_modified7
df_modified8 = df_modified8.replace({'sexo':{'H':'Male', 'V': 'Female'}})

print(df_modified8['sexo'])

13026343    Female
13026342    Female
5319232       Male
13026341      Male
13026340    Female
             ...
13339886      Male
13339885      Male
13339966    Female
13339967    Female
13339968      Male
Name: sexo, Length: 933551, dtype: object

In [205]:
#Done with cleaning of dataset
pd.set_option('display.max_columns', None)
df_modified8.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
13026343,2016-05-28,15889,F,ES,Female,56,1995-01-16,0.0,255,1.0,2016-05-28,1,A,S,N,KAT,N,1.0,28.0,MADRID,1.0,326124.90,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0.0,0.0,0
13026342,2016-05-28,15890,A,ES,Female,63,1995-01-16,0.0,256,1.0,2016-05-28,1,A,S,N,KAT,N,1.0,28.0,MADRID,1.0,71461.20,01 - TOP,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1.0,1.0,1
5319232,2015-08-28,15891,N,ES,Male,59,2015-07-28,0.0,246,99.0,2015-08-05,1,A,S,N,KAT,N,1.0,28.0,MADRID,0.0,451931.22,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
13026341,2016-05-28,15892,F,ES,Male,62,1995-01-16,0.0,256,1.0,2016-05-28,1,A,S,N,KAT,N,1.0,28.0,MADRID,1.0,430477.41,01 - TOP,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,1,1,0,0.0,0.0,1
13026340,2016-05-28,15893,N,ES,Female,63,1997-10-03,0.0,256,1.0,2016-05-28,1,A,S,N,KAT,N,1.0,28.0,MADRID,1.0,430477.41,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0

In [209]:
#cod_prov & nomprov have the same information. Removing cod_prov.
df_modified9 = df_modified8.drop('cod_prov', axis=1)
print(df_modified9.head())
print(df_modified9.shape)

         fecha_dato  ncodpers ind_empleado pais_residencia    sexo  age  \
13026343 2016-05-28     15889            F              ES  Female   56
13026342 2016-05-28     15890            A              ES  Female   63
5319232  2015-08-28     15891            N              ES    Male   59
13026341 2016-05-28     15892            F              ES    Male   62
13026340 2016-05-28     15893            N              ES  Female   63

         fecha_alta  ind_nuevo  antiguedad  indrel ult_fec_cli_1t  \
13026343 1995-01-16        0.0         255     1.0     2016-05-28
13026342 1995-01-16        0.0         256     1.0     2016-05-28
5319232  2015-07-28        0.0         246    99.0     2015-08-05
13026341 1995-01-16        0.0         256     1.0     2016-05-28
13026340 1997-10-03        0.0         256     1.0     2016-05-28

          indrel_1mes tiprel_1mes indresi indext canal_entrada indfall  \
13026343            1           A       S      N           KAT       N
13026342            1           A       S      N           KAT       N
5319232             1           A       S      N           KAT       N
13026341            1           A       S      N           KAT       N
13026340            1           A       S      N           KAT       N

          tipodom nomprov  ind_actividad_cliente      renta  \
13026343      1.0  MADRID                    1.0  326124.90
13026342      1.0  MADRID                    1.0   71461.20
5319232       1.0  MADRID                    0.0  451931.22
13026341      1.0  MADRID                    1.0  430477.41
13026340      1.0  MADRID                    1.0  430477.41

                   segmento  ind_ahor_fin_ult1  ind_aval_fin_ult1  \
13026343           01 - TOP                  0                  0
13026342           01 - TOP                  0                  0
5319232   02 - PARTICULARES                  0                  0
13026341           01 - TOP                  0                  0
13026340  02 - PARTICULARES                  0                  0

          ind_cco_fin_ult1  ind_cder_fin_ult1  ind_cno_fin_ult1  \
13026343                 1                  0                 0
13026342                 0                  0                 1
5319232                  0                  0                 0
13026341                 1                  0                 0
13026340                 0                  0                 0

          ind_ctju_fin_ult1  ind_ctma_fin_ult1  ind_ctop_fin_ult1  \
13026343                  0                  0                  0
13026342                  0                  0                  0
5319232                   0                  0                  0
13026341                  0                  0                  0
13026340                  0                  0                  0

          ind_ctpp_fin_ult1  ind_deco_fin_ult1  ind_deme_fin_ult1  \
13026343                  1                  0                  0
13026342                  1                  0                  0
5319232                   0                  0                  0
13026341                  0                  0                  0
13026340                  0                  0                  0

          ind_dela_fin_ult1  ind_ecue_fin_ult1  ind_fond_fin_ult1  \
13026343                  0                  0                  0
13026342                  0                  1                  0
5319232                   0                  0                  0
13026341                  1                  1                  0
13026340                  0                  0                  0

          ind_hip_fin_ult1  ind_plan_fin_ult1  ind_pres_fin_ult1  \
13026343                 0                  0                  0
13026342                 0                  1                  0
5319232                  0                  0                  0
13026341                 0                  0                  0
13026340                 0                  0                  0

          ind_reca_fin_ult1  ind_tjcr_fin_ult1  ind_valo_fin_ult1  \
13026343                  0                  1                  1
13026342                  0                  1                  0
5319232                   0                  0                  0
13026341                  1                  1                  1
13026340                  0                  0                  1

          ind_viv_fin_ult1  ind_nomina_ult1  ind_nom_pens_ult1  \
13026343                 0              0.0                0.0
13026342                 0              1.0                1.0
5319232                  0              0.0                0.0
13026341                 0              0.0                0.0
13026340                 0              0.0                0.0

          ind_recibo_ult1
13026343                0
13026342                1
5319232                 0
13026341                1
13026340                0
(933551, 46)